/*=====home====*/
#home{
	height: 820px;
}
.head{
	font-size:1.7rem;
}
/*=======abaut=======*/
#pic img{
	width: 300px;
	height: 173px;
}
#intro h1{
	font-size: 1.5rem;
}
/*============ portfolio========*/
.gallery img{
	height:30%;
	width: 20%;
	margin: 10px;
}
/*===== contact=====*/
.input{
	text-align: center;
	width: 80%;
}
#msg{
	text-align: center;
	width: 70%;
}
#send{
	text-align: center;
	width: 20%;
}